.container {
  flex: 5;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  margin: 60px 0px;
  font-size: 28px;
  background-image: linear-gradient(
    to right bottom,
    rgba(126, 213, 111, 0.85),
    rgba(40, 180, 133, 0.85)
  );
  width: max-content;
  color: white;
}

.noneText {
  font-size: 20px;
  margin-bottom: 20px;
}
