.content {
  display: flex;
  gap: 50px;
}

.title {
  padding: 5px 10px;
  text-align: center;
  text-transform: capitalize;
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
  color: white;
}

@media screen and (max-width: 770px) {
  .content {
    flex-direction: column;
  }
}

@media screen and (max-width: 640px) {
  .content {
    flex-direction: column;
  }
}
